:root {
  --accent: rgb(246, 193, 119);
  --accent-alpha-70: rgba(246, 193, 119, .7);
  --accent-alpha-20: rgba(246, 193, 119, .2);

  --background: #232136;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
  }
