:root {
  --accent: rgb(196, 167, 231);
  --accent-alpha-70: rgba(196, 167, 231, .7);
  --accent-alpha-20: rgba(196, 167, 231, .7);

  --background: #191724;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
  }
