:root {
  --accent: rgb(235, 111, 146);
  --accent-alpha-70: rgba(235, 111, 146, .7);
  --accent-alpha-20: rgba(235, 111, 146, .2);

  --background: #232136;
  --color: #e0def4;
  --border-color: rgba(255, 255, 255, .1);
  }
